Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

.github/ - developing ci-cd
  .github/workflows/release.yml
Due: none

.github/ - developing ci-cd
  .github/actions/core/action.yml
  .github/workflows/release.yml
Due: none

fix refresh token if expired
  ui/src/composables/useToken.ts
  ui/src/services/axiosInstances.ts
  ui/src/types/mocks.ts
Due: run-job-no-ops

.github/ - developing ci-cd
  .github/actions/core/action.yml
  .github/actions/push-image/action.yml
  .github/workflows/release.yml
Due: none

Add clientScopes to Keycloak CRD
  dev/kubernetes.kafka.yaml
Due: run-job-dev

HS-56 - adding in refactored DTO, starting DAO and Entity mappings
  platform/bom/pom.xml
  platform/provision/persistence/pom.xml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/DefaultRevisionRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/ProvisionRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dao/RequisitionRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/BaseRequisitionDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionCategoryDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionInterfaceDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionMetaDataDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionMonitoredServiceDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionNodeDTO.java
  platform/provision/persistence/src/main/resources/OSGI-INF/blueprint/horizon-provision-persistence.xml
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/DefaultRevisionRepositoryTest.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepositoryTest.java
  platform/provision/service/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
Due: run-job-no-ops

.github/ - developing ci-cd
  .github/actions/core/action.yml
Due: none

JIRA/HS-58 Add REST API endpoints to clear alarm (#38)
  platform/alarms/api/src/main/java/org/opennms/horizon/alarms/api/AlarmAckDTO.java
  platform/alarms/rest/src/main/java/org/opennms/netmgt/alarmd/rest/internal/AlarmRestServiceImpl.java
  platform/alarms/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/AcknowledgmentDaoHibernate.java
  platform/docker-it/src/test/java/org/opennms/horizon/AlarmsDaemonRestTestSteps.java
  platform/docker-it/src/test/resources/org/opennms/horizon/alarmsd-rest.feature
  platform/docker-it/src/test/resources/org/opennms/horizon/test-data/ack001.json
  rest-server/PlatformGateway.md
  rest-server/src/main/java/org/opennms/horizon/server/controller/AbstractPlatformController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/AlarmController.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeycloakSecurityConfig.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  tools/alarm.ack
  tools/alarm.unack
  tools/alarms.list
Due: run-job-no-ops

add clear call
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/services/alarmService.ts
Due: run-job-no-ops

color box for severity
  ui/src/components/Alarms/AlarmsTable.vue
Due: run-job-no-ops

Update the REST API server with correct response status code
  rest-server/src/main/java/org/opennms/horizon/server/controller/AbstractPlatformController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/AlarmController.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/EventController.java
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
Due: run-job-no-ops

.gitignore - updated
  .gitignore
Due: none

display role error msg on 403
  rest-server/src/main/java/org/opennms/horizon/server/service/PlatformGateway.java
  ui/src/services/alarmService.ts
  ui/src/services/errorService.ts
  ui/src/types/index.ts
Due: run-job-no-ops

.github/ - factoring out ci-cd config into actions.
  .github/actions/core/action.yml
  .github/actions/external-it/action.yml
  .github/actions/rest-server/action.yml
  .github/actions/ui/action.yml
  .github/workflows/develop.yml
  .github/workflows/release.yml
Due: none

.github/ - fixed error
  .github/workflows/develop.yml
Due: none

dev/ - testing ci-cd
  dev/ci-cd-test.txt
Due: run-job-dev

.github/ - updated develop workflow branch filter
  .github/workflows/develop.yml
Due: none
