Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

.github/ - developing ci-cd
  .github/workflows/test.yml
Due: none

dev/ - testing ci-cd
  dev/ci-cd-test.txt
Due: run-job-dev

.circleci/ - removed workflow
  .circleci/workflows.yml
Due: run-job-no-ops

.circleci/ - develop
  .circleci/config.yml
Due: run-job-no-ops

.circleci/ - develop
  .circleci/workflows.yml
Due: run-job-no-ops

add delete, format date
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/directives/v-date.ts
  ui/src/main.ts
  ui/src/services/alarmService.ts
  ui/src/services/index.ts
  ui/src/store/alarmStore.ts
Due: run-job-no-ops

fixed the UI authorization and cors
  dev/kubernetes.kafka.yaml
  rest-server/src/main/java/org/opennms/horizon/server/filter/ResponseHeaderFilter.java
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops, run-job-dev

fix for empty resp
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/services/alarmService.ts
Due: run-job-no-ops

.github/ - developing ci-cd
  .github/actions/core/action.yml
  .github/actions/push-image/action.yml
  .github/workflows/develop.yml
  .github/workflows/feature-core.yml
  .github/workflows/feature-ui.yml
  .github/workflows/release.yml
Due: none
