Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

dev/ - testing ci-cd
  dev/ci-cd-test.txt
Due: run-job-dev

.github/ - temporarily commenting out cucumber test to external-it ci-cd
  .github/actions/external-it/action.yml
Due: none

add cucumber it tests for location endpoints
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/security/KeyCloakUtils.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/CucumberRunnerIT.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/IntegrationTestBase.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationAPISteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/RestAPIIntegrationSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/dao/NodeRepositoryTest.java
  rest-server/src/test/java/org/opennms/horizon/server/service/NodeServiceTest.java
  rest-server/src/test/resources/cucumber/location-rest-api.feature
  rest-server/src/test/resources/cucumber/rest-api-auth.feature
  rest-server/src/test/resources/junit-platform.properties
Due: run-job-no-ops

separate the keycloak setup in different cucumber feature
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/CucumberRunnerIT.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/IntegrationTestBase.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/KeycloakInitialSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/RestAPIIntegrationSteps.java
  rest-server/src/test/resources/cucumber/keycloak-init.feature
  rest-server/src/test/resources/cucumber/location-rest-api.feature
Due: run-job-no-ops

finish the location endpoints integration tests
  rest-server/src/main/java/org/opennms/horizon/server/security/CustomMethodSecurityExpression.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/IntegrationTestBase.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationEndpointsIntegrationSteps.java
  rest-server/src/test/resources/cucumber/location-rest-api.feature
Due: run-job-no-ops

finish the location endpoints integration tests
  rest-server/src/test/resources/cucumber/location-rest-api.feature
Due: run-job-no-ops

HS-56 - Working through database problems, adding transactions, fleshing out REST
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepository.java
  platform/provision/rest/pom.xml
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestService.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImpl.java
  platform/provision/rest/src/main/resources/OSGI-INF/blueprint/provision-rest-blueprint.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
Due: run-job-no-ops

local-sample/ - added this for users of opennms to see a sample of an on-prem solution.
  .gitignore
  local-sample/README.md
  local-sample/config.yaml
  local-sample/ingress.test.yaml
  local-sample/ingress.yaml
  local-sample/run.sh
  local-sample/services.yaml
  local-sample/test.yaml
  ui/dev/Dockerfile
Due: run-job-no-ops

simplified code and added node endpoints IT tests
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/IntegrationTestBase.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationEndpointsIntegrationSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/NodeIntegrationSteps.java
  rest-server/src/test/resources/cucumber/node-rest-api.feature
Due: run-job-no-ops

local-sample/ - updated ingress components
  local-sample/README.md
  local-sample/ingress.test.yaml
  local-sample/ingress.yaml
  local-sample/run.sh
  local-sample/services.yaml
  local-sample/test.yaml
  ui/.env.development
Due: run-job-no-ops

.github/ - updating core action for debugging
  .github/actions/core/action.yml
Due: none

dev/ - debug
  dev/ci-cd-test.txt
Due: run-job-dev

Disable the KeycloakSessionTokenManagerTest test due to false positives in the build pipeline.
  platform/3rdparty/keycloak-admin-client/src/test/java/org/opennms/keycloak/admin/client/impl/KeycloakSessionTokenManagerTest.java
Due: run-job-no-ops

put more rest api config properties as evn vars
  dev/kubernetes.kafka.yaml
Due: run-job-dev

ui/ - testing deployment ci-cd
  ui/README.md
Due: run-job-no-ops

.github/ - updated workflows on feature branches, were not catching
  .github/workflows/feature-core.yml
  .github/workflows/feature-rest-server.yml
  .github/workflows/feature-ui.yml
Due: none

ui/ - testing ci-cd
  ui/README.md
Due: run-job-no-ops

ui/ - testing github actions feaute workflow
  ui/README.md
Due: run-job-no-ops

HS-56 - rest of the REST calls, more unit tests.
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/util/AbstractDaoHibernate.java
  platform/db/schema-liquibase/src/main/liquibase/provision/requisitions.xml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dao/RequisitionRepository.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepositoryTest.java
  platform/provision/rest/pom.xml
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestService.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImpl.java
  platform/provision/rest/src/test/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImplTest.java
  platform/provision/rest/src/test/resources/import_dummy-empty.json
  platform/provision/rest/src/test/resources/import_dummy-empty.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
  platform/provision/service/src/test/resources/import_dummy-empty.xml
Due: run-job-no-ops

HS-56 - completing unit tests, cleanup, minor api changes
  platform/bom/pom.xml
  platform/pom.xml
  platform/provision/persistence/pom.xml
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepositoryTest.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/dto/RequisitionDTOTest.java
  platform/provision/persistence/src/test/resources/log4j.properties
  platform/provision/rest/pom.xml
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImpl.java
  platform/provision/rest/src/test/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImplTest.java
  platform/provision/service/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
Due: run-job-no-ops

HS-56 - fix logging on tests
  platform/provision/service/src/test/resources/log4j.properties
Due: run-job-no-ops

local-sample/ - updated dns for keycloak
  local-sample/run.sh
Due: none

HS-43: Use 3rd party keycloak-admin-server library (incomplete)
  dev/kubernetes.kafka.yaml
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/rest/pom.xml
  platform/core/rest/src/main/java/org/opennms/rest/jaxrs/jwt/impl/KeycloakRoleAssignmentProvider.java
  platform/core/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/docker-it/pom.xml
  platform/docker-it/src/test/java/org/opennms/horizon/AlarmsDaemonRestTestSteps.java
  platform/events/rest/pom.xml
  platform/pom.xml
Due: run-job-no-ops, run-job-dev

HS-43: Remove custom keycloak-admin-client module
  platform/3rdparty/keycloak-admin-client/pom.xml
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/KeycloakAdminClient.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/KeycloakAdminClientSession.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/exc/KeycloakAuthenticationException.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/exc/KeycloakBaseException.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/exc/KeycloakOperationException.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/HttpClientRetryUtil.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientImpl.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientSessionImpl.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakResponseUtil.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/KeycloakSessionTokenManager.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/impl/PostRequestOp.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/refresh/RefreshTokenOp.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/refresh/RefreshTokenResponse.java
  platform/3rdparty/keycloak-admin-client/src/main/java/org/opennms/keycloak/admin/client/util/SurprisinglyHardToFindUtils.java
  platform/3rdparty/keycloak-admin-client/src/test/java/org/opennms/keycloak/admin/client/impl/HttpClientRetryUtilTest.java
  platform/3rdparty/keycloak-admin-client/src/test/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientImplTest.java
  platform/3rdparty/keycloak-admin-client/src/test/java/org/opennms/keycloak/admin/client/impl/KeycloakAdminClientSessionImplTest.java
  platform/3rdparty/keycloak-admin-client/src/test/java/org/opennms/keycloak/admin/client/impl/KeycloakResponseUtilTest.java
  platform/3rdparty/keycloak-admin-client/src/test/java/org/opennms/keycloak/admin/client/impl/KeycloakSessionTokenManagerTest.java
  platform/3rdparty/keycloak-admin-client/src/test/java/org/opennms/keycloak/admin/client/util/SurprisinglyHardToFindUtilsTest.java
  platform/3rdparty/keycloak-admin-client/src/test/resources/log4j2.xml
  platform/3rdparty/pom.xml
Due: run-job-no-ops

HS-56 - adding update capability for requisitions
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dao/RequisitionRepository.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepositoryTest.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestService.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImpl.java
  platform/provision/rest/src/test/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImplTest.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
Due: run-job-no-ops

check process.env before vite.env to use vars passed through cmd line
  ui/keycloak.config.ts
  ui/src/services/axiosInstances.ts
Due: run-job-no-ops

HS-61: Modify login to match Figma designs (#77)
  ui/.eslintrc-auto-import.json
  ui/auto-imports.d.ts
  ui/components.d.ts
  ui/package.json
  ui/src/App.vue
  ui/src/components/Layout/Menubar.vue
  ui/src/containers/Login.vue
  ui/src/directives/v-date.ts
  ui/src/helpers/gradient.ts
  ui/src/services/errorService.ts
  ui/src/types/events.ts
  ui/src/types/mocks.ts
  ui/tests/login.test.ts
  ui/yarn.lock
Due: run-job-no-ops

cucumber integration tests for GraphQL
  rest-server/src/main/java/org/opennms/horizon/server/security/CustomMethodSecurityExpression.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeycloakSecurityConfig.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/IntegrationTestBase.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationEndpointsIntegrationSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationGraphQLSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/NodeIntegrationSteps.java
  rest-server/src/test/resources/cucumber/location-graphql.feature
  rest-server/src/test/resources/cucumber/location-rest-api.feature
  rest-server/src/test/resources/cucumber/node-rest-api.feature
Due: run-job-no-ops

Add minion to the skaffold cluster. Add horizon-icmp to boot features.
  dev/kubernetes.kafka.yaml
  platform/assemblies/core-dynamic-dist/pom.xml
  skaffold.yaml
Due: run-job-no-ops, run-job-dev

use keycloak utils for user role lookup
  rest-server/src/main/java/org/opennms/horizon/server/security/KeyCloakUtils.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeycloakConfig.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeycloakRoleProvider.java
Due: run-job-no-ops

local-sample/ - also supporting components that needed to be changed.
  dev/kubernetes.kafka.yaml
  local-sample/README.md
  local-sample/config-kind.yaml
  local-sample/config-run
  local-sample/ingress.TEMPLATE.yaml
  local-sample/run.sh
  ui/.env.development
  ui/dev/Dockerfile
  ui/dev/entrypoint.sh
Due: run-job-no-ops, run-job-dev

local-sample/ - README.md, updating
  local-sample/README.md
Due: none

local-sample/ - updated README.md.
  local-sample/README.md
Due: none

HS-91 - First cut at a simple scanner, reading reqs from DB, etc.
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/HibernateRequisitionRepository.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dao/RequisitionRepository.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/dto/RequisitionDTOTest.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestService.java
  platform/provision/rest/src/main/java/org/opennms/horizon/provision/rest/ProvisionRestServiceImpl.java
  platform/provision/service/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/NodeScanner.java
  platform/provision/service/src/main/resources/OSGI-INF/blueprint/horizon-provision-service.xml
  platform/provision/service/src/test/java/org/opennms/netmgt/provision/service/ProvisionerImplTest.java
Due: run-job-no-ops

local-sample/ - working local build for non-development.
  local-sample/run.sh
Due: none

added the user role cache and simplified the code
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/RestServerApplication.java
  rest-server/src/main/java/org/opennms/horizon/server/cache/CacheConfig.java
  rest-server/src/main/java/org/opennms/horizon/server/controller/AbstractController.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeyCloakUtils.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeycloakConfig.java
  rest-server/src/main/resources/application.yml
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/KeycloakInitialSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/security/KeycloakUtilsTest.java
  rest-server/src/test/resources/application.yml
Due: run-job-no-ops

Path conditions:
  run-job-no-ops: ((((((((((any of: .circleci/.*) or (any of: LICENSE.md)) or (any of: README.md)) or (any of: design/.*)) or (any of: howto/.*)) or (any of: local-docker-compose/.*)) or (any of: platform/.*)) or (any of: rest-server/.*)) or (any of: skaffold.yaml/.*)) or (any of: tools/.*)) or (any of: ui/.*)
  run-job-dev: any of: dev/.*
  run-job-external-it: any of: external-it/.*
