Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

Merge branch 'main' into asn/provisiond
  platform/db/dao-impl/src/main/java/org/opennms/horizon/db/dao/impl/AcknowledgmentDaoHibernate.java
Due: run-job-no-ops

Add Minion to build time integration tests (docker-it). HEALTH CHECK fails due to "UNIMPLEMENTED: Method not found: OpenNMSTwinIpc/SinkStreaming"
  platform/docker-it/pom.xml
  platform/docker-it/src/test/resources-filtered/karaf/etc/org.apache.karaf.features.cfg
  platform/docker-it/src/test/resources/minion/minion-config.yaml
Due: run-job-no-ops

added unit test for the user role lookup with in memory cache
  rest-server/src/main/java/org/opennms/horizon/server/security/KeyCloakUtils.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeycloakRoleProvider.java
  rest-server/src/test/java/org/opennms/horizon/server/security/KeycloakRoleProviderTest.java
Due: run-job-no-ops

local-sample/ - fixed ingress on 503 for api server
  local-sample/ingress.TEMPLATE.yaml
  local-sample/run.sh
Due: none

updating local-sample and skaffold to work together with ui/
  dev/kubernetes.kafka.yaml
  local-sample/run.sh
Due: run-job-dev

.github/ - starting changes for external-it kind k8s build
  .github/actions/external-it/action.yml
Due: none

fixed the minor issue based on the pr comments
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/IntegrationTestBase.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationEndpointsIntegrationSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationGraphQLSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/NodeIntegrationSteps.java
  rest-server/src/test/resources/cucumber/location-graphql.feature
  rest-server/src/test/resources/cucumber/location-rest-api.feature
  rest-server/src/test/resources/cucumber/node-rest-api.feature
Due: run-job-no-ops

reorganized the cucumber tests steps with api client common steps.
  rest-server/pom.xml
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/APIClientSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationEndpointsIntegrationSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/LocationGraphQLSteps.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/NodeIntegrationSteps.java
  rest-server/src/test/resources/cucumber/location-graphql.feature
  rest-server/src/test/resources/cucumber/location-rest-api.feature
  rest-server/src/test/resources/cucumber/node-rest-api.feature
Due: run-job-no-ops

local-sample/ - updated run.sh output
  local-sample/run.sh
Due: none

local-samlpe/ - updated README.md
  local-sample/README.md
Due: none

more clear comment
  rest-server/src/test/java/org/opennms/horizon/server/security/KeycloakRoleProviderTest.java
Due: run-job-no-ops

Add the TWIN IPC.
  platform/3rdparty/jackson-coreutils/pom.xml
  platform/3rdparty/json-patch/pom.xml
  platform/3rdparty/pom.xml
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/bom/pom.xml
  platform/ipc/twin/api/pom.xml
  platform/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinPublisher.java
  platform/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinStrategy.java
  platform/ipc/twin/api/src/main/java/org/opennms/core/ipc/twin/api/TwinSubscriber.java
  platform/ipc/twin/common/pom.xml
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/AbstractTwinPublisher.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/AbstractTwinSubscriber.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/LocalTwinSubscriber.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/LocalTwinSubscriberImpl.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/TwinRequest.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/TwinTracker.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/common/TwinUpdate.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/model/TwinMessageProto.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/model/TwinRequestProto.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/model/TwinRequestProtoOrBuilder.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/model/TwinResponseProto.java
  platform/ipc/twin/common/src/main/java/org/opennms/core/ipc/twin/model/TwinResponseProtoOrBuilder.java
  platform/ipc/twin/common/src/main/proto/twin-message.proto
  platform/ipc/twin/common/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/twin/grpc/common/pom.xml
  platform/ipc/twin/grpc/common/src/main/java/org/opennms/core/ipc/twin/grpc/common/MinionHeader.java
  platform/ipc/twin/grpc/common/src/main/java/org/opennms/core/ipc/twin/grpc/common/MinionHeaderOrBuilder.java
  platform/ipc/twin/grpc/common/src/main/java/org/opennms/core/ipc/twin/grpc/common/OpenNMSTwinIpcGrpc.java
  platform/ipc/twin/grpc/common/src/main/java/org/opennms/core/ipc/twin/grpc/common/TwinGrpcIpc.java
  platform/ipc/twin/grpc/common/src/main/proto/twin-grpc.proto
  platform/ipc/twin/grpc/pom.xml
  platform/ipc/twin/grpc/publisher/pom.xml
  platform/ipc/twin/grpc/publisher/src/main/java/org/opennms/core/ipc/twin/grpc/publisher/GrpcTwinPublisher.java
  platform/ipc/twin/grpc/publisher/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/twin/grpc/subscriber/pom.xml
  platform/ipc/twin/grpc/subscriber/src/main/java/org/opennms/core/ipc/twin/grpc/subscriber/GrpcTwinSubscriber.java
  platform/ipc/twin/grpc/subscriber/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/twin/pom.xml
  platform/pom.xml
Due: run-job-no-ops

Merge branch 'main' into asn/provisiond
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/CategoriesAndMetadataDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionInterfaceDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionMonitoredServiceDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/RequisitionNodeDTO.java
  platform/provision/persistence/src/test/java/org/opennms/netmgt/provision/persistence/dto/RequisitionDTOTest.java
Due: run-job-no-ops

.github/ - added external-it k8s build, will test
  .github/actions/external-it/action.yml
Due: none

TEST - github actions
  dev/README.md
Due: run-job-dev

HS-113: Mount local .m2 into Karaf pod to enable bundle watching (incomplete)
  dev/README.md
  dev/kubernetes.kafka.yaml
  kind-config.yaml
  skaffold.yaml
Due: run-job-dev

HS-113: Use shell script to generate kind config for local .m2 repo
  .gitignore
  dev/README.md
  kind-config-template.yaml
  kind-generate-config.sh
Due: run-job-dev

HS-113: Move initial setup steps for Skaffold into a script
  .gitignore
  cluster-setup.sh
  dev/README.md
  dev/kind-config-template.yaml
  dev/kubernetes.kafka.yaml
  kind-generate-config.sh
Due: run-job-dev

Change replicas for horizon-stream-core back to 1
  dev/kubernetes.kafka.yaml
Due: run-job-dev

HS-113: Remove unnecessary gitignore
  .gitignore
Due: none

HS-113: Update cluster-setup script with vars and comments
  cluster-setup.sh
Due: none

HS-113: Move mounted Maven repo to PersistentVolume
  dev/kubernetes.kafka.yaml
Due: run-job-dev

Made .m2 mount read/write
  dev/kind-config-template.yaml
  dev/kubernetes.kafka.yaml
Due: run-job-dev

HS-113: Change accessMode of m2 PV to ReadWriteMany
  dev/kubernetes.kafka.yaml
Due: run-job-dev

.github/ - actions, development
  .github/actions/external-it/action.yml
  .github/workflows/develop.yml
  local-sample/config-run
  local-sample/run.sh
Due: none

.github/ - actions, development
  local-sample/run.sh
Due: none

Jira/HS-76 - CI-CD K8s Testing with Cucumber - reset branch filtering
  .github/workflows/develop.yml
Due: none

added user management endpoints
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/controller/UserController.java
  rest-server/src/main/java/org/opennms/horizon/server/exception/UserManagementException.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/ResetPasswordDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/UserDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/dto/UserSearchDTO.java
  rest-server/src/main/java/org/opennms/horizon/server/model/mapper/KeycloakUserMapper.java
  rest-server/src/main/java/org/opennms/horizon/server/security/KeyCloakUtils.java
  rest-server/src/test/java/org/opennms/horizon/server/cucumber/KeycloakInitialSteps.java
Due: run-job-no-ops

addressed PR comments
  dev/kubernetes.kafka.yaml
  rest-server/pom.xml
  rest-server/src/main/java/org/opennms/horizon/server/security/KeyCloakUtils.java
  rest-server/src/main/resources/application.yml
Due: run-job-no-ops, run-job-dev

Add MinionRpcMonitorManager which periodically sends ECHO RPCs to minions as a form of keep-alive.
  platform/assemblies/features/pom.xml
  platform/assemblies/features/src/main/feature/features.xml
  platform/core/monitor/pom.xml
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorManager.java
  platform/core/monitor/src/main/java/org/opennms/horizon/core/monitor/MinionRpcMonitorMinionManagerListener.java
  platform/core/monitor/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/core/pom.xml
  platform/ipc/echo/pom.xml
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/EchoClient.java
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/EchoRequest.java
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/EchoResponse.java
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/EchoRpcModule.java
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/MyEchoException.java
  platform/ipc/echo/src/main/java/org/opennms/horizon/echo/monitor/SimpleMinionRpcMonitor.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/OpennmsGrpcServer.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/MinionInfo.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/MinionManager.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/MinionManagerListener.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/impl/MinionManagerImpl.java
  platform/ipc/grpc/server/src/main/java/org/opennms/core/ipc/grpc/server/manager/util/MinionManagerListenerRegistrar.java
  platform/ipc/grpc/server/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/ipc/pom.xml
Due: run-job-no-ops

Re-enable the karaf-maven-plugin (should never have been disabled in the commit).
  platform/assemblies/features/pom.xml
Due: run-job-no-ops

Remove use of the Horizon BOM from the external-horizon-stream-it project.
  external-it/external-horizon-stream-it/pom.xml
Due: run-job-external-it

ICMP Detector module loading into karaf.
  platform/assemblies/features/src/main/feature/features.xml
  platform/provision/detector/icmp-detector/pom.xml
  platform/provision/detector/icmp-detector/src/main/java/org/opennms/horizon/provision/detector/icmp/IcmpDetector.java
  platform/provision/detector/icmp-detector/src/main/java/org/opennms/horizon/provision/detector/icmp/IcmpDetectorFactory.java
  platform/provision/detector/icmp-detector/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  platform/provision/detector/pom.xml
  platform/provision/pom.xml
Due: run-job-no-ops

operator/ - added an ingress controller from kind (see local-sample/run.sh for link)
  operator/ingress.controller.kind.yaml
Due: none

HS-91 - first cut at moving and implementing node scanning
  platform/provision/api/src/main/java/org/opennms/netmgt/provision/ServiceDetectorRegistry.java
  platform/provision/persistence/pom.xml
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/PluginConfigDTO.java
  platform/provision/persistence/src/main/java/org/opennms/netmgt/provision/persistence/dto/PluginParameterDTO.java
  platform/provision/service/pom.xml
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/ProvisionerImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/Async.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/Callback.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/DetectorRunner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/NodeScanner.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/ServiceDetectorRegistryImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/ContextKey.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/DetectorAttributeDTO.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/DetectorClientRpcModule.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/DetectorRequestBuilderImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/DetectorRequestDTO.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/DetectorResponseDTO.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/EntityScopeProvider.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/FallbackScope.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/Interpolator.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/LocationAwareDetectorClientRpcImpl.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/MetadataConstants.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/ParameterMap.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/RpcRequest.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/Scope.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/rpc/dummyimpl/DummyEntityScopeProvider.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/soa/DefaultServiceRegistry.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/soa/Filter.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/soa/Registration.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/soa/RegistrationHook.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/soa/RegistrationListener.java
  platform/provision/service/src/main/java/org/opennms/netmgt/provision/service/scan/soa/ServiceRegistry.java
Due: run-job-no-ops

Add minion to the skaffold cluster. Add horizon-icmp to boot features.
  dev/kubernetes.kafka.yaml
  platform/assemblies/core-dynamic-dist/pom.xml
  skaffold.yaml
Due: run-job-no-ops, run-job-dev

More artifact renaming.
  platform/ipc/twin/grpc/common/pom.xml
  platform/ipc/twin/grpc/pom.xml
  platform/ipc/twin/grpc/publisher/pom.xml
  platform/ipc/twin/grpc/subscriber/pom.xml
Due: run-job-no-ops
