Repository splatch/horizon-stream: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-job-no-ops, run-job-dev, run-job-external-it

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  version: 2

  setup:
    jobs:
      - path-filtering/filter:
          mapping: |
            .circleci/.* run-job-no-ops true
            LICENSE.md run-job-no-ops true
            README.md run-job-no-ops true
            design/.* run-job-no-ops true
            howto/.* run-job-no-ops true
            local-docker-compose/.* run-job-no-ops true
            platform/.* run-job-no-ops true
            rest-server/.* run-job-no-ops true
            skaffold.yaml/.* run-job-no-ops true
            tools/.* run-job-no-ops true
            ui/.* run-job-no-ops true
            dev/.* run-job-dev true
            external-it/.* run-job-external-it true
          
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml

.github/ - testing this
  .github/workflows/test.yml
Due: none

.github/ - testing this
  dev/README.md
Due: run-job-dev

dev/ - test github actions
  dev/README.md
Due: run-job-dev

add post, get calls
  ui/.env
  ui/.env.development
  ui/src/components/Alarms/AlarmsTable.vue
  ui/src/services/authService.ts
  ui/src/services/errorService.ts
  ui/src/services/eventService.ts
  ui/src/services/index.ts
  ui/src/store/alarmStore.ts
  ui/src/store/eventStore.ts
  ui/src/types/alarms.ts
  ui/src/types/events.ts
  ui/src/types/index.ts
  ui/src/types/mocks.ts
Due: run-job-no-ops

.circleci/ - update
  .circleci/config.yml
  .circleci/workflow-external-it.yml
  .circleci/workflow-no-ops.yml
  .circleci/workflows.yml
Due: run-job-no-ops

.github/ - developing ci-cd
  .github/workflows/test.yml
Due: none

dev/ - testing ci-cd
  dev/README.md
Due: run-job-dev

dev/ - testing ci-cd
  dev/ci-cd-test.txt
Due: run-job-dev
